.Workouts {
  overflow: hidden;
}

.Title {
  color: #535151;
}

.addWorkoutButton {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  height: 60px;
  width: 130px;
}

.workoutCards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}