.Workouts {
  overflow: hidden;
}

.addWorkoutButton {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  height: 60px;
  width: 130px;
}

.workoutCards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 110px;
}

@media all and (max-width: 300px) {
  .addWorkoutButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
  }
}