.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 150px auto;
}

.title {
  margin-right: 5%;
  margin-top: 5%;
  user-select: none;
}

.title h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 70px;
  text-decoration: underline;
}

.title h2 {
  font-size: 15px;
  margin-top: 0;
}

.registerPanel {
  background: #fc9803;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 400px;
  border-radius: 6px;
  height: 400px;
  margin-left: 50px;
}

.registerPanel h1 {
  color: #555;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerButton {
  cursor: pointer;
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 8px;
  margin: 10px;
}

.passwordWarning {
  background: #fc1403;
  padding: 10px;
}