.WeeklyView {
  display: flex;
  justify-self: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 10%;
}

.homeArea {
  display: flex;
  background-color: #F0E9DC;
}

.checkupBox {
  margin: auto;
  margin-left: 50px;
  padding: 10px;
  display: flex;
  outline-style: solid;
  outline-width: thin;
  border-radius: 10px;
  margin-top: 500px;
}


@media all and (max-width: 1800px) {
  .homeArea {
    display: flex;
    justify-content: center;
  }

  .WeeklyView {
    margin-top: 0;
    margin-bottom: 200px;
    margin-left: 15%;
  }
}