body {
  background-color:#F0E9DC;
}

.WeeklyDay {
  height: 330px;
  box-shadow: 8px 5px 5px;
}

.dayDate {
  padding: 10px;
  height: 127px;
  width: 200px;
  outline-color: black;
  outline-style: solid;
  border-radius: 2px;
}

.day {
  margin-bottom: 0px;
}

.date {
  font-weight: normal;
  font-size: 13px;
  margin-top: 0px;
}

.filledCheckBubble {
  transform: scale(1.5);
  color: #23db26;
  cursor: pointer;
}

.emptyCheckBubble {
  transform: scale(1.5);
  cursor: pointer;
}

.status {
  padding: 10px;
  width: 200px;
  height: 161px;
  outline-color: black;
  outline-style: solid;
  margin-bottom: 10px;
}

.workout {
  justify-content: center;
  background-color: #DA7825;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  font-size: 18px;
}

.blankWorkout {
  justify-content: center;
  background-color: #9b9794;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  font-size: 18px;
}

@media all and (max-width: 1800px) {
  .WeeklyDay {
    background-color: white;
    height: 365px;
    width: 78%;
    margin-bottom: 25px;
  }
}