.Sidebar {
  background-color: #ff8c00;
  align-items: center;
  width: 80px;
  height: 100vh;
  position: fixed;
}

.navIcons {
  margin: 0;
  position: absolute;
  top: 14%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon {
  margin-top: 50px;
  padding: 12px;
  cursor: pointer;
}

.logoutIcon {
  margin: 0;
  position: absolute;
  top: 95%;
  margin-left: 10px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}