.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgotPasswordPanel {
  background-color: #fc9803;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.forgotPasswordPanel h1 {
  color: #333;
  margin-bottom: 10px;
}

.forgotPasswordPanel p {
  color: #555;
  margin-bottom: 20px;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgotPasswordButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}