body {
  overflow: visible;
  max-width: 100%;
}

.calendarHeader {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.monthTitle {
  color: #535151;
}

.arrow {
  margin: 30px;
  cursor: pointer;
  color: #535151;
}

.dayNames {
  display: flex;
  flex-direction: row;
  margin-left: 8%;
  color: #535151;
}

.dayNames p {
  font-size: 25px;
  margin-left: 5.4%;
  padding: 10px;
  width: 105px;
  font-weight: bold;
}

.paddingDay {
  width: 216px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
  color: #333232;
}

@media all and (max-width: 1800px) {
  .calendarHeader {
    margin-left: 20%;
  }
  
  .dayNames {
    display: none;
  }
}

@media all and (max-width: 1000px) {
  .calendarHeader {
    margin-left: 25%;
  }

  .dayNames {
    display: none;
  }
}

