.WorkoutCard {
  display: flex;
  margin-left: 40px;
  margin-bottom: 50px;
  background-color: #DA7825;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  height: 350px;
  cursor: pointer;
  box-shadow: 8px 5px 8px;
}

.header {
  position: relative;
  color: #333232;
}

.header h2 {
  font-size: 30px;
  text-decoration: underline;
  margin: 0;
}

.header h3 {
  margin-bottom: 0px;
}

.header p {
  margin: 0;
}

.exercises {
  margin-left: 20%;
  width: 40%;
  color: #333232;
}

.exercises h3 {
  margin: 0;
  margin-bottom: 15px;
  text-decoration: underline;
}

.exercises p {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2%;
  word-wrap: break-word;
}

.line {
  border-right: 5px solid;
  margin-left: 10%;
  margin-top: -5%;
  height: 111%;
}

.deleteButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  cursor: pointer
}

@media all and (max-width: 1800px) {
  .WorkoutCard {
    width: 30%;
  }

  .line {
    border-right: 5px solid;
    margin-left: 10%;
    margin-top: -4.5%;
  }

  .exercises {
    margin-left: 20%;
    width: 35%;
  }
}

@media all and (max-width: 800px) {
  .WorkoutCard {
    width: 55%;
  }

  .exercises {
    margin-left: 20%;
    width: 30%;
  }

  .line {
    border-right: 5px solid;
    margin-left: 10%;
    margin-top: -5%;
  }
}